n8n/workflows/phase6a_recall_ingest_canonical_http.workflow.json
{
  "id": "8d031916-f45f-42ef-8323-fe0ecbc46350",
  "name": "Recall Canonical - Unified Webhook Ingest (HTTP Bridge)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recall-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-recall-ingest-canonical",
      "name": "Webhook Recall Ingest Canonical",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        280,
        260
      ],
      "webhookId": "6046ca8d-0ea6-4895-a58e-fcd7ae699365"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.RECALL_BRIDGE_BASE_URL || 'http://100.116.103.78:8090') + '/v1/ingestions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({}, ($json.body || $json), { channel: 'webhook' }) }}",
        "options": {}
      },
      "id": "node-http-ingest-canonical",
      "name": "HTTP Ingest Canonical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, channel: 'webhook', bridge_result: $json } }}",
        "options": {}
      },
      "id": "node-respond-webhook-canonical",
      "name": "Respond to Webhook Canonical",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Recall Ingest Canonical": {
      "main": [
        [
          {
            "node": "HTTP Ingest Canonical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ingest Canonical": {
      "main": [
        [
          {
            "node": "Respond to Webhook Canonical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
