n8n/workflows/phase1b_recall_ingest_webhook.workflow.json
{
  "name": "Recall Phase1B - Unified Webhook Ingest",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recall-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-recall-ingest",
      "name": "Webhook Recall Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        280
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/jaydreyer/recall-local/scripts/phase1/ingest_channel_payload.py --channel webhook --payload-base64 \"={{ Buffer.from(JSON.stringify($json)).toString('base64') }}\""
      },
      "id": "node-exec-ingest-webhook",
      "name": "Execute Ingest Webhook",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, channel: 'webhook', ingest_result: $json } }}",
        "options": {}
      },
      "id": "node-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        830,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Recall Ingest": {
      "main": [
        [
          {
            "node": "Execute Ingest Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Ingest Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
