n8n/workflows/phase1b_recall_ingest_webhook_http.workflow.json
{
  "name": "Recall Phase1B - Unified Webhook Ingest (HTTP Bridge)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recall-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-recall-ingest",
      "name": "Webhook Recall Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        280,
        260
      ],
      "webhookId": "f64fba17-2d65-4f89-97ee-75058eb4d460"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.RECALL_BRIDGE_BASE_URL || 'http://100.116.103.78:8090') + '/v1/ingestions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({}, ($json.body || $json), { channel: 'webhook' }) }}",
        "options": {}
      },
      "id": "node-http-ingest-webhook",
      "name": "HTTP Ingest Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, channel: 'webhook', bridge_result: $json } }}",
        "options": {}
      },
      "id": "node-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Recall Ingest": {
      "main": [
        [
          {
            "node": "HTTP Ingest Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ingest Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
