n8n/workflows/phase1c_recall_rag_query.workflow.json
{
  "name": "Recall Phase1C - Cited RAG Query",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recall-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-recall-query",
      "name": "Webhook Recall Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        280
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/jaydreyer/recall-local/scripts/phase1/rag_from_payload.py --payload-base64 \"={{ Buffer.from(JSON.stringify($json)).toString('base64') }}\""
      },
      "id": "node-exec-rag-query",
      "name": "Execute RAG Query",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, workflow: 'workflow_02_rag_query', rag_result: $json } }}",
        "options": {}
      },
      "id": "node-respond-query",
      "name": "Respond to Query",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Recall Query": {
      "main": [
        [
          {
            "node": "Execute RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute RAG Query": {
      "main": [
        [
          {
            "node": "Respond to Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
