n8n/workflows/phase1b_gmail_forward_ingest_http.workflow.json
{
  "name": "Recall Phase1B - Gmail Forward Ingest (HTTP Bridge)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "downloadAttachments": true,
        "postProcessAction": "nothing",
        "options": {}
      },
      "id": "node-email-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        280,
        260
      ],
      "notesInFlow": true,
      "notes": "Configure IMAP credentials for the Recall ingest inbox before activating."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ (((($json.textPlain || $json.text || $json.textHtml || $json.html || '').toString().trim().length) + (Array.isArray($json.attachment_paths) ? $json.attachment_paths.length : 0) + (($json.subject || '').toString().trim().length)) ) }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "node-if-has-gmail-content",
      "name": "If Has Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.RECALL_BRIDGE_BASE_URL || 'http://100.116.103.78:8090') + '/v1/ingestions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ channel: 'gmail-forward', subject: $json.subject || '', from: (typeof $json.from === 'string' ? $json.from : (($json.from && $json.from.text) ? $json.from.text : '')), messageId: $json.messageId || $json.message_id || '', text: $json.textPlain || $json.text || $json.textHtml || $json.html || ($json.subject ? ('Subject: ' + $json.subject) : ''), html: $json.textHtml || $json.html || '', attachment_paths: Array.isArray($json.attachment_paths) ? $json.attachment_paths : [] }) }}",
        "options": {}
      },
      "id": "node-http-ingest-gmail",
      "name": "HTTP Ingest Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        260
      ]
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "If Has Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Content": {
      "main": [
        [
          {
            "node": "HTTP Ingest Gmail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
